@use "./variables" as *;

// ===========================================================================
// Custom Icon Box
// ===========================================================================

.icon-box {
	display: grid;
	// display: flex;
	grid-template-columns: auto 1fr;
	gap: 0.5em;

	&__text {
		gap: 0;
	}
}
