// ===========================================================================
// Text Box
// ===========================================================================

.text-box {
	display: flex;
	flex-direction: column;
	gap: 1em;
	// border: 1px solid red;
	margin: 0 auto;
}

@media (min-width: 992px) {
	.text-box {
		width: 75%;
	}
}
